In [27]:
import pandas as pd
import numpy as np

df=pd.read_csv(r'C:\Users\saive\Downloads\real df\original.csv')
df

              label    x    y       Name
0       right_wrist  143  252  00000.jpg
1       right_elbow  142  216  00000.jpg
2    right_shoulder  145  164  00000.jpg
3     left_shoulder  199  153  00000.jpg
4        left_elbow  211  204  00000.jpg
..              ...  ...  ...        ...
556       left_knee  117  141  00065.jpg
557      left_ankle  157  176  00065.jpg
558   left_shoulder   76  135  00065.jpg
559      left_elbow   74  171  00065.jpg
560      left_wrist   50  162  00065.jpg

[561 rows x 4 columns]

In [28]:
df_group=df.groupby(['Name'])
df_group.first()

                    label    x    y
Name
00000.jpg     right_wrist  143  252
00001.jpg  right_shoulder  152  152
00002.jpg  right_shoulder  141  179
00003.jpg     right_wrist   90  165
00004.jpg  right_shoulder  110  192
...                   ...  ...  ...
00059.jpg  right_shoulder  139  121
00060.jpg  right_shoulder  126  183
00063.jpg  right_shoulder  151  118
00064.jpg  right_shoulder  153  161
00065.jpg       right_hip  113  183

[62 rows x 3 columns]

In [29]:
df_final=pd.DataFrame()
for group in df_group:
    group_name=group[0]
    df_new=pd.DataFrame()
    df_new['Name']=[group_name]
    df_1=df_group.get_group(group_name).reset_index()
    df_1=df_1.transpose()
    #print(df_1)
    for i in range(len(df_1.loc['label'])):
        s=df_1.loc['label'][i]
        s1=s+'_x'
        s2=s+'_y'
        df_new[s1]=np.array([df_1.loc['x'][i]])
        df_new[s2]=np.array([df_1.loc['y'][i]])
    df_final=pd.concat([df_final,df_new],axis=0)
df_final

,Name,right_wrist_x,right_wrist_y,right_elbow_x,right_elbow_y,right_shoulder_x,right_shoulder_y,left_shoulder_x,left_shoulder_y,left_elbow_x,...,left_hip_x,left_hip_y,left_knee_x,left_knee_y,right_knee_x,right_knee_y,right_ankle_x,right_ankle_y,left_ankle_x,left_ankle_y
0,00000.jpg,143.0,252.0,142.0,216.0,145.0,164.0,199.0,153.0,211.0,...,151.0,275.0,189.0,313.0,157.0,316.0,NaN,NaN,NaN,NaN
0,00001.jpg,180.0,163.0,144.0,200.0,152.0,152.0,NaN,NaN,NaN,...,194.0,244.0,205.0,284.0,174.0,318.0,NaN,NaN,NaN,NaN
0,00002.jpg,127.0,159.0,109.0,204.0,141.0,179.0,195.0,175.0,221.0,...,194.0,289.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,00003.jpg,90.0,165.0,114.0,192.0,142.0,180.0,191.0,178.0,217.0,...,188.0,277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,00004.jpg,129.0,221.0,142.0,211.0,110.0,192.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,219.0,206.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,00059.jpg,120.0,161.0,118.0,135.0,139.0,121.0,163.0,132.0,172.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,00060.jpg,110.0,246.0,106.0,205.0,126.0,183.0,166.0,192.0,188.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.0,277.0
0,00063.jpg,123.0,158.0,140.0,141.0,151.0,118.0,180.0,131.0,202.0,...,156.0,185.0,161.0,220.0,108.0,201.0,NaN,NaN,145.0,257.0
0,00064.jpg,114.0,210.0,131.0,187.0,153.0,161.0,187.0,177.0,209.0,...,159.0,238.0,160.0,290.0,110.0,275.0,NaN,NaN,NaN,NaN
0,00065.jpg,NaN,NaN,NaN,NaN,NaN,NaN,76.0,135.0,74.0,...,NaN,NaN,117.0,141.0,147.0,199.0,169.0,204.0,157.0,176.0

In [30]:
df_final=pd.DataFrame()
for group in df_group:
    group_name=group[0]
    df_new=pd.DataFrame()
    df_new['Name']=[group_name]
    df_1=df_group.get_group(group_name).reset_index()
    df_1=df_1.transpose()
    #print(df_1)
    for i in range(len(df_1.loc['label'])):
        s=df_1.loc['label'][i]
        df_new[s]=[(df_1.loc['x'][i],df_1.loc['y'][i])]
    df_final=pd.concat([df_final,df_new],axis=0)
df_final=df_final.fillna(-1)
df_final

,Name,right_wrist,right_elbow,right_shoulder,left_shoulder,left_elbow,left_wrist,right_hip,left_hip,left_knee,right_knee,right_ankle,left_ankle
0,00000.jpg,"(143, 252)","(142, 216)","(145, 164)","(199, 153)","(211, 204)","(187, 163)","(194, 261)","(151, 275)","(189, 313)","(157, 316)",-1,-1
0,00001.jpg,"(180, 163)","(144, 200)","(152, 152)",-1,-1,-1,"(166, 253)","(194, 244)","(205, 284)","(174, 318)",-1,-1
0,00002.jpg,"(127, 159)","(109, 204)","(141, 179)","(195, 175)","(221, 189)","(214, 158)","(153, 292)","(194, 289)",-1,-1,-1,-1
0,00003.jpg,"(90, 165)","(114, 192)","(142, 180)","(191, 178)","(217, 193)","(249, 169)","(147, 275)","(188, 277)",-1,-1,-1,-1
0,00004.jpg,"(129, 221)","(142, 211)","(110, 192)",-1,-1,-1,"(176, 208)",-1,-1,"(219, 206)",-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,00059.jpg,"(120, 161)","(118, 135)","(139, 121)","(163, 132)","(172, 156)","(157, 171)",-1,-1,-1,-1,-1,-1
0,00060.jpg,"(110, 246)","(106, 205)","(126, 183)","(166, 192)","(188, 225)","(181, 269)",-1,-1,-1,-1,-1,"(127, 277)"
0,00063.jpg,"(123, 158)","(140, 141)","(151, 118)","(180, 131)","(202, 130)","(221, 133)","(136, 169)","(156, 185)","(161, 220)","(108, 201)",-1,"(145, 257)"
0,00064.jpg,"(114, 210)","(131, 187)","(153, 161)","(187, 177)","(209, 174)","(228, 175)","(136, 227)","(159, 238)","(160, 290)","(110, 275)",-1,-1
0,00065.jpg,-1,-1,-1,"(76, 135)","(74, 171)","(50, 162)","(113, 183)",-1,"(117, 141)","(147, 199)","(169, 204)","(157, 176)"